.diningHall{
    height: 100%;
    width: 100%;
    /* background-color: rgb(241, 241, 241); */
}
 .meterLabel{
    text-align: center;
 }

 #root{
    height: 100%
 }

 .dial{
   animation: Pointer-move 2s 0s 1 ease-in-out;
 }

@keyframes Pointer-move{
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}


.menuSectionTitle{
   padding-left: 2rem !important;
   padding-bottom: 1rem;
}

.menuSection{
   border-width: 2px;
   background-color: rgb(255, 255, 255);
   margin-bottom: 5rem;
}